.btn {
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 148, 244);
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  width: 100%;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:disabled {
  color: rgba(6, 43, 117, 0.2);
  background: #f2f4f8;
  cursor: default;
}
